/*------------------
This is donate-today-main all css code
----------------------------*/



body {
    font-family: 'Poppins', sans-serif;
}


/*-----------------
head all css code
---------------------*/

.header {
    background-image: url(../images/banner\ top.png);
    position: relative;
    width: 1330px;
    height: 670px;
    background-repeat: no-repeat;
    color: azure;
    text-align: center;

}

.header-content {
    position: absolute;
    width: 826px;
    height: 320px;
    left: 280px;
    top: 100px;


}

.top-caracter {
    font-size: 65px;
    line-height: 79px;
    text-align: center;
}

.description {
    font-size: 18px;
    margin-top: -20px;
}


.donate-button {
    text-decoration: none;
    color: aliceblue;
    padding: 16px 12px;
    background-color: #FF5959;
    border-radius: 5px;
}

/*-----------------
finish head all css code
---------------------*/




/*-----------------
start donate today 
---------------------*/



.donate-carecter {
    text-align: center;
    width: 651px;
    height: 150px;
    padding-top: 60px;
    padding-left: 330px;

}

.donate-header {
    font-size: 45px;

}

.donate-paragraph {
    font-size: 18px;
    margin-top: -30px;
}



/*-----------------
donate amount 
---------------------*/

.donate-amount {
    display: flex;
    padding-left: 300px;
    text-align: center;
    padding-top: 80px;
    column-gap: 20px;


}

#donate-number {
    text-decoration: none;
    color: gray;
    background: #FAFAFA;
    border-radius: 5px;
    width: 135px;
    height: 123px;
    font-size: 30px;

}

#taka {
    text-decoration: none;
}



.donate-para {
    font-size: 18px;
    text-align: center;
    color: #B3B3B3;

}

.line {

    width: 765px;
    height: 0px;
    margin-left: 300px;
    top: 1199.5px;
    border: 1px solid #DADADA;
    margin-top: -5px;
}






.other {
    padding-top: 40px;

}

#two-donate {
    margin-top: 200px;
    margin-left: 600px;
}


/*-----------------
End donate-today section
---------------------*/



/*-----------------
start our donate plan
---------------------*/

.donate-list {
    display: flex;
    gap: 20px;
    margin-top: 70px;
    margin-left: 100px;

}

#donate-item {
    width: 360px;
    height: 352px;
    border-radius: 5px;


}

.food {
    background-color: rgba(79, 157, 166, 0.1);

}


.shelter {
    background-color: rgba(255, 89, 89, 0.1);
}

.education {
    background-color: bisque;
}



.item-content {
    width: 315px;
    height: 153px;
    margin-top: 70px;
    margin-left: 23px;
}


/*-----------------
End our donate plan
---------------------*/




/*-----------------
start depend-donation
---------------------*/


.depend-donation {
    display: flex;
    margin-top: 100px;
}

.contribute-button {
    padding: 16px 12px;
    text-decoration: none;
    background-color: #FF5959;
    border-radius: 5px;
    color: aliceblue;
}

.donation-content {
    width: 493px;
    height: 374px;
    margin-left: 110px;
}

.donation-content {
    font-size: 22px;
}

.donation-header {
    font-size: 45px;
    line-height: 54px;

}


.donation-parragraph {
    font-size: 18px;
    line-height: 28px;
}


.donation-img {
    margin-left: 90px;
    width: 445px;
    height: 477px;

}

/*-----------------
End depend-donation
---------------------*/




/*-----------------
start survive secton
---------------------*/


.survive {
    display: flex;
}


/*-----------------
End survive secton
---------------------*/





/*-----------------
start updates secton
---------------------*/



.get-my {
    width: 691px;
    height: 130px;
    text-align: center;
    margin-left: 355px;
    margin-top: 101px;

}


.email-subscription {
    position: absolute;
    width: 809px;
    height: 200px;
    background: #FFF4D6;
    left: 316px;
    top: 3370px;
    align-items: center;
}

.add-mail {
    margin-top: 70px;
    margin-left: 150px;
}


input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;

}


.mail {

    background: #D9D9D9;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px;
    border-radius: 5px 0px 0px 5px;

}


.subscribe {
    font-size: 16px;

    position: relative;
    border-radius: 0px 5px 5px 0px;
    padding-top: 4px;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #FF5959;
    color: #FFFFFF;
    margin-left: -5px;

}






/*-----------------
End updates section
---------------------*/




/*-----------------
start footer tag
---------------------*/

footer {
    margin-top: 350px;
    height: 177px;
    color: #DADADA;
    background: #0B0D17;
    text-align: center;

}


.humble {
    padding-top: 50px;
    font-size: 36px;
    line-height: 44px;
    color: #FF5959;
    font-family: 'Lobster';
}



.gonna {

    margin-top: -20px;
    font-family: 'Manrope';
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;


}

.center {

    text-align: center;
}


/*-----------------
end footer tag
---------------------*/



/*-----------------
End this all css code for ths website
---------------------*/